@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GWS App</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to GWS Application</h2>
        <p>
            GWS App is an application for use in a Group Water Scheme to assist in billing management developed by the illustrious Meter Matters Elite Development Unit.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Developer's Blog</h2>
        <p>You can find the blog used by Meter Matters here:</p>
        <p><a class="btn btn-default" href="http://metermatters.blogspot.ie/">Meter Matters &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Github Respository</h2>
        <p>Code for the application is available at Github:</p>
        <p><a class="btn btn-default" href="https://github.com/traynore/EnterpriseFrameworks">Github Repository &raquo;</a></p>
    </div>
</div>